<nav class="hide-on-med-and-down grey lighten-4">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="sass.html" class="grey-text text-darken-1">Home</a></li>
      <li><a href="badges.html" class="grey-text text-darken-1">About</a></li>
      <li><a href="collapsible.html" class="grey-text text-darken-1">Contact</a></li>
      <li><a href="collapsible.html" class="grey-text text-darken-1">FAQ</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="badges.html" class="grey-text text-darken-1">My Account</a></li>
      <li><a href="collapsible.html" class="grey-text text-darken-1">Sign In</a></li>
    </ul>
  </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav class="white">
  <div class="nav-wrapper">
    <ul id="slide-out" class="side-nav">
      <li><a href="sass.html">Home</a></li>
      <li><a href="badges.html">About</a></li>
      <li><a href="collapsible.html">Contact</a></li>
      <li><a href="collapsible.html">FAQ</a></li>
      <li><a href="sass.html">Cart</a></li>
      <li><a href="sass.html">Wish List</a></li>
      <li><a href="badges.html">My Account</a></li>
      <li><a href="collapsible.html">Sign In</a></li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse grey-text text-darken-1"><i class="material-icons">menu</i></a>
    <a href="#!" class="brand-logo brand-logo-formatting blue-text text-darken-1">Tobacco Mall</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class="dropdown-button grey-text text-darken-1" href="#!" data-activates="dropdown1">Product Categories<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="sass.html" class="grey-text text-darken-1"><i class="material-icons left">shopping_cart</i>Cart</a></li>
      <li><a href="sass.html" class="grey-text text-darken-1"><i class="material-icons left">card_giftcard</i>Wish List</a></li>
    </ul>
  </div>
</nav>

<nav class="blue darken-1 center-align valign-wrapper hide-on-med-and-down">
  <div class="product-category-button">
    <a class="blue darken-1 waves-effect waves-light btn-large product-category">Cigars</a>
  </div>
  <div class="product-category-button">
    <a class="blue darken-1 waves-effect waves-light btn-large product-category">Pipes</a>
  </div>
  <div class="product-category-button">
    <a class="blue darken-1 waves-effect waves-light btn-large product-category">Tobacco</a>
  </div>
  <div class="product-category-button">
    <a class="blue darken-1 waves-effect waves-light btn-large product-category">Accessories</a>
  </div>
</nav>

<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>First Panel</h2>
    <p class="white-text">This is your first panel</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>

<div class="row">

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="https://g.foolcdn.com/editorial/images/187088/14910603209_bbf3774a0b_z_large.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="https://g.foolcdn.com/editorial/images/187088/14910603209_bbf3774a0b_z_large.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="https://g.foolcdn.com/editorial/images/187088/14910603209_bbf3774a0b_z_large.jpg">
        <span class="card-title">Card Title</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
      </div>
    </div>
  </div>

</div>
